@model DoAn_CuaHangLaptop.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-5">
        <h4 align="center">Cập nhật hóa đơn</h4>
        <hr />
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHD" />
            <div class="form-group">
                <label asp-for="MaKH" class="control-label"></label>
                <input asp-for="MaKH" class="form-control" />
                <span asp-validation-for="MaKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <input asp-for="MaNV" class="form-control" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSK" class="control-label"></label>
                <input asp-for="MaSK" class="form-control" />
                <span asp-validation-for="MaSK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayHD" class="control-label"></label>
                <input asp-for="NgayHD" class="form-control" />
                <span asp-validation-for="NgayHD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiGiaoHang" class="control-label"></label>
                <input asp-for="DiaChiGiaoHang" class="form-control" />
                <span asp-validation-for="DiaChiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhTien" class="control-label"></label>
                <input asp-for="ThanhTien" class="form-control" />
                <span asp-validation-for="ThanhTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Trở về trang danh sách</a>
        </div>
    </div>
</div>

